* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.container > button {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.postagens{
    display: flex;

}

.item1 {
    flex-direction: column;
}

.item1 > img {
    width: 378px;
    height: 270px;
    border-radius: 10px;
}

.item2 {
    flex-direction: column;
}

.item2 > img {
    width: 378px;
    height: 270px;
    border-radius: 10px;
}

.item3 {

}

.data {
    font-size: 14px;
    color: gray;
    margin-bottom: 4px;
}
img {
    max-width: 100%;
}